:root {
  --main-background: #303030;
  --code-color: #9c9c9c;
  --text-color: #f5f5f5;
  --title-color: #ffcc99;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
  color: var(--text-color);
}

.title {
  color: var(--title-color);
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  border: 1px solid;
  padding: 20px;
  margin: 0px 5px;
  animation: borderAnimation 5s infinite alternate;
  line-height: 20px;
}

code {
  display: block;
  background-color: var(--text-color);
  padding: 10px;
  border-radius: 10px;
  color: var(--main-background);
}

.submitForm {
  margin-top: 10px;
}

.submitBtn {
  padding: 5px 15px;
}

@keyframes borderAnimation {
  0% {
    border-color: #00ccff;
  }
  30% {
    border-color: #00cc66;
  }
  50% {
    border-color: #ccff33;
  }
  60% {
    border-color: #ffcc00;
  }
  80% {
    border-color: #ff6600;
  }
  100% {
    border-color: #ff00ff;
  }
}
